.navbar {
    display: flex;
    justify-content: space-between;
    .container {
        display: flex;
        .search {
            background-color: black;
            display: flex;
            justify-self: center;
            align-items: center;
            border-radius: 2rem;
            padding: 0.5rem;
            color: #f94144;
            gap: 0.7rem;
            font-size: 1.5rem;
            input {
                border: none;
                color: #f94144;
                background-color: black;
                &:focus {
                    outline: none;
                }
            }
        }
        .profile {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-left: 1rem;
            .bell {
                font-size: 1.4rem;
                color: #e4dbdb;
            }
            .image {
                img {
                    height: 3rem;
                    border-radius: 2rem;
                }
            }
        }
    }
}